
# boilerplate code
snippet page "starter page" b
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$1</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>$1</h1>
    $0
    <script src="script.js"></script>
  </body>
</html>
endsnippet

# dummy image
snippet img "random dummy iamge" b
<img src="http://dummyimage.com/`#!/usr/bin/env bash
echo $(( ( RANDOM % 400 )  + 200 ))/$(( ( RANDOM % 400 )  + 200 ))`" />
endsnippet

# external javascript
snippet js "external javascript" b
<script type="text/javascript" src="${1:${2:app}.js}"></script>
endsnippet

# external css
snippet css "external css" b
<link href="${1:main.css}" rel="stylesheet" type="text/css" charset="utf-8">
endsnippet

