snippet gur "require gulp" b
var ${1:gulp} = require('gulp-$1');
$0
endsnippet
snippet gut "a gulp task" b
gulp.task('${1:default}', function(){
	$0
})
endsnippet
snippet gup "gulp pipe with string arg" b
.pipe($1(${2:'$3'}))
$0
endsnippet
snippet gupp "gulp pipe with object arg" b
.pipe($1(${2:{$3: ${4:‘$5‘}}}))
$0
endsnippet
