snippet pclass "public class" b
public class ${1:ClassName} {
  $0
}
endsnippet
snippet main "main entry method" b
  public static void main(String[] args) {
    System.out.println(args[0]);
  }
endsnippet
